<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (var i = 0; i < readings.length ; i++) { %>
        <p> <%= readings[i] %> </p>
    <% } %>
  </body>
</html>
